// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cta-join-hov-name: 'cta-join-hov';
$cta-join-hov-x: 514px;
$cta-join-hov-y: 500px;
$cta-join-hov-offset-x: -514px;
$cta-join-hov-offset-y: -500px;
$cta-join-hov-width: 322px;
$cta-join-hov-height: 105px;
$cta-join-hov-total-width: 1423px;
$cta-join-hov-total-height: 1155px;
$cta-join-hov-image: '../assets/_sprites-common.png';
$cta-join-hov: (514px, 500px, -514px, -500px, 322px, 105px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-join-hov', );
$cta-join-name: 'cta-join';
$cta-join-x: 514px;
$cta-join-y: 605px;
$cta-join-offset-x: -514px;
$cta-join-offset-y: -605px;
$cta-join-width: 322px;
$cta-join-height: 105px;
$cta-join-total-width: 1423px;
$cta-join-total-height: 1155px;
$cta-join-image: '../assets/_sprites-common.png';
$cta-join: (514px, 605px, -514px, -605px, 322px, 105px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-join', );
$cta-module-name: 'cta-module';
$cta-module-x: 739px;
$cta-module-y: 995px;
$cta-module-offset-x: -739px;
$cta-module-offset-y: -995px;
$cta-module-width: 270px;
$cta-module-height: 50px;
$cta-module-total-width: 1423px;
$cta-module-total-height: 1155px;
$cta-module-image: '../assets/_sprites-common.png';
$cta-module: (739px, 995px, -739px, -995px, 270px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-module', );
$cta-receive-off-name: 'cta-receive-off';
$cta-receive-off-x: 1238px;
$cta-receive-off-y: 875px;
$cta-receive-off-offset-x: -1238px;
$cta-receive-off-offset-y: -875px;
$cta-receive-off-width: 120px;
$cta-receive-off-height: 30px;
$cta-receive-off-total-width: 1423px;
$cta-receive-off-total-height: 1155px;
$cta-receive-off-image: '../assets/_sprites-common.png';
$cta-receive-off: (1238px, 875px, -1238px, -875px, 120px, 30px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-receive-off', );
$cta-receive-name: 'cta-receive';
$cta-receive-x: 1238px;
$cta-receive-y: 905px;
$cta-receive-offset-x: -1238px;
$cta-receive-offset-y: -905px;
$cta-receive-width: 120px;
$cta-receive-height: 30px;
$cta-receive-total-width: 1423px;
$cta-receive-total-height: 1155px;
$cta-receive-image: '../assets/_sprites-common.png';
$cta-receive: (1238px, 905px, -1238px, -905px, 120px, 30px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-receive', );
$cta-receivemin-off-name: 'cta-receivemin-off';
$cta-receivemin-off-x: 1238px;
$cta-receivemin-off-y: 535px;
$cta-receivemin-off-offset-x: -1238px;
$cta-receivemin-off-offset-y: -535px;
$cta-receivemin-off-width: 120px;
$cta-receivemin-off-height: 60px;
$cta-receivemin-off-total-width: 1423px;
$cta-receivemin-off-total-height: 1155px;
$cta-receivemin-off-image: '../assets/_sprites-common.png';
$cta-receivemin-off: (1238px, 535px, -1238px, -535px, 120px, 60px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-receivemin-off', );
$cta-receivemin-name: 'cta-receivemin';
$cta-receivemin-x: 1238px;
$cta-receivemin-y: 595px;
$cta-receivemin-offset-x: -1238px;
$cta-receivemin-offset-y: -595px;
$cta-receivemin-width: 120px;
$cta-receivemin-height: 60px;
$cta-receivemin-total-width: 1423px;
$cta-receivemin-total-height: 1155px;
$cta-receivemin-image: '../assets/_sprites-common.png';
$cta-receivemin: (1238px, 595px, -1238px, -595px, 120px, 60px, 1423px, 1155px, '../assets/_sprites-common.png', 'cta-receivemin', );
$footer-fanpage-name: 'footer-fanpage';
$footer-fanpage-x: 1094px;
$footer-fanpage-y: 0px;
$footer-fanpage-offset-x: -1094px;
$footer-fanpage-offset-y: 0px;
$footer-fanpage-width: 144px;
$footer-fanpage-height: 125px;
$footer-fanpage-total-width: 1423px;
$footer-fanpage-total-height: 1155px;
$footer-fanpage-image: '../assets/_sprites-common.png';
$footer-fanpage: (1094px, 0px, -1094px, 0px, 144px, 125px, 1423px, 1155px, '../assets/_sprites-common.png', 'footer-fanpage', );
$footer-logo-name: 'footer-logo';
$footer-logo-x: 514px;
$footer-logo-y: 710px;
$footer-logo-offset-x: -514px;
$footer-logo-offset-y: -710px;
$footer-logo-width: 286px;
$footer-logo-height: 108px;
$footer-logo-total-width: 1423px;
$footer-logo-total-height: 1155px;
$footer-logo-image: '../assets/_sprites-common.png';
$footer-logo: (514px, 710px, -514px, -710px, 286px, 108px, 1423px, 1155px, '../assets/_sprites-common.png', 'footer-logo', );
$footer-social-name: 'footer-social';
$footer-social-x: 1094px;
$footer-social-y: 125px;
$footer-social-offset-x: -1094px;
$footer-social-offset-y: -125px;
$footer-social-width: 144px;
$footer-social-height: 125px;
$footer-social-total-width: 1423px;
$footer-social-total-height: 1155px;
$footer-social-image: '../assets/_sprites-common.png';
$footer-social: (1094px, 125px, -1094px, -125px, 144px, 125px, 1423px, 1155px, '../assets/_sprites-common.png', 'footer-social', );
$footer-youtube-name: 'footer-youtube';
$footer-youtube-x: 1094px;
$footer-youtube-y: 250px;
$footer-youtube-offset-x: -1094px;
$footer-youtube-offset-y: -250px;
$footer-youtube-width: 144px;
$footer-youtube-height: 125px;
$footer-youtube-total-width: 1423px;
$footer-youtube-total-height: 1155px;
$footer-youtube-image: '../assets/_sprites-common.png';
$footer-youtube: (1094px, 250px, -1094px, -250px, 144px, 125px, 1423px, 1155px, '../assets/_sprites-common.png', 'footer-youtube', );
$item-date-end-name: 'item-date-end';
$item-date-end-x: 1238px;
$item-date-end-y: 935px;
$item-date-end-offset-x: -1238px;
$item-date-end-offset-y: -935px;
$item-date-end-width: 100px;
$item-date-end-height: 30px;
$item-date-end-total-width: 1423px;
$item-date-end-total-height: 1155px;
$item-date-end-image: '../assets/_sprites-common.png';
$item-date-end: (1238px, 935px, -1238px, -935px, 100px, 30px, 1423px, 1155px, '../assets/_sprites-common.png', 'item-date-end', );
$item-date-name: 'item-date';
$item-date-x: 1238px;
$item-date-y: 965px;
$item-date-offset-x: -1238px;
$item-date-offset-y: -965px;
$item-date-width: 100px;
$item-date-height: 30px;
$item-date-total-width: 1423px;
$item-date-total-height: 1155px;
$item-date-image: '../assets/_sprites-common.png';
$item-date: (1238px, 965px, -1238px, -965px, 100px, 30px, 1423px, 1155px, '../assets/_sprites-common.png', 'item-date', );
$logo-name: 'logo';
$logo-x: 836px;
$logo-y: 500px;
$logo-offset-x: -836px;
$logo-offset-y: -500px;
$logo-width: 209px;
$logo-height: 102px;
$logo-total-width: 1423px;
$logo-total-height: 1155px;
$logo-image: '../assets/_sprites-common.png';
$logo: (836px, 500px, -836px, -500px, 209px, 102px, 1423px, 1155px, '../assets/_sprites-common.png', 'logo', );
$mb-burger-name: 'mb-burger';
$mb-burger-x: 1373px;
$mb-burger-y: 828px;
$mb-burger-offset-x: -1373px;
$mb-burger-offset-y: -828px;
$mb-burger-width: 32px;
$mb-burger-height: 29px;
$mb-burger-total-width: 1423px;
$mb-burger-total-height: 1155px;
$mb-burger-image: '../assets/_sprites-common.png';
$mb-burger: (1373px, 828px, -1373px, -828px, 32px, 29px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-burger', );
$mb-cta-danhan-name: 'mb-cta-danhan';
$mb-cta-danhan-x: 1238px;
$mb-cta-danhan-y: 734px;
$mb-cta-danhan-offset-x: -1238px;
$mb-cta-danhan-offset-y: -734px;
$mb-cta-danhan-width: 135px;
$mb-cta-danhan-height: 47px;
$mb-cta-danhan-total-width: 1423px;
$mb-cta-danhan-total-height: 1155px;
$mb-cta-danhan-image: '../assets/_sprites-common.png';
$mb-cta-danhan: (1238px, 734px, -1238px, -734px, 135px, 47px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-cta-danhan', );
$mb-cta-module-name: 'mb-cta-module';
$mb-cta-module-x: 426px;
$mb-cta-module-y: 995px;
$mb-cta-module-offset-x: -426px;
$mb-cta-module-offset-y: -995px;
$mb-cta-module-width: 313px;
$mb-cta-module-height: 59px;
$mb-cta-module-total-width: 1423px;
$mb-cta-module-total-height: 1155px;
$mb-cta-module-image: '../assets/_sprites-common.png';
$mb-cta-module: (426px, 995px, -426px, -995px, 313px, 59px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-cta-module', );
$mb-cta-nap-name: 'mb-cta-nap';
$mb-cta-nap-x: 1238px;
$mb-cta-nap-y: 781px;
$mb-cta-nap-offset-x: -1238px;
$mb-cta-nap-offset-y: -781px;
$mb-cta-nap-width: 135px;
$mb-cta-nap-height: 47px;
$mb-cta-nap-total-width: 1423px;
$mb-cta-nap-total-height: 1155px;
$mb-cta-nap-image: '../assets/_sprites-common.png';
$mb-cta-nap: (1238px, 781px, -1238px, -781px, 135px, 47px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-cta-nap', );
$mb-cta-nhan-name: 'mb-cta-nhan';
$mb-cta-nhan-x: 1238px;
$mb-cta-nhan-y: 828px;
$mb-cta-nhan-offset-x: -1238px;
$mb-cta-nhan-offset-y: -828px;
$mb-cta-nhan-width: 135px;
$mb-cta-nhan-height: 47px;
$mb-cta-nhan-total-width: 1423px;
$mb-cta-nhan-total-height: 1155px;
$mb-cta-nhan-image: '../assets/_sprites-common.png';
$mb-cta-nhan: (1238px, 828px, -1238px, -828px, 135px, 47px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-cta-nhan', );
$mb-download-name: 'mb-download';
$mb-download-x: 1238px;
$mb-download-y: 435px;
$mb-download-offset-x: -1238px;
$mb-download-offset-y: -435px;
$mb-download-width: 160px;
$mb-download-height: 50px;
$mb-download-total-width: 1423px;
$mb-download-total-height: 1155px;
$mb-download-image: '../assets/_sprites-common.png';
$mb-download: (1238px, 435px, -1238px, -435px, 160px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-download', );
$mb-fanpage-name: 'mb-fanpage';
$mb-fanpage-x: 1358px;
$mb-fanpage-y: 535px;
$mb-fanpage-offset-x: -1358px;
$mb-fanpage-offset-y: -535px;
$mb-fanpage-width: 50px;
$mb-fanpage-height: 50px;
$mb-fanpage-total-width: 1423px;
$mb-fanpage-total-height: 1155px;
$mb-fanpage-image: '../assets/_sprites-common.png';
$mb-fanpage: (1358px, 535px, -1358px, -535px, 50px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-fanpage', );
$mb-home-name: 'mb-home';
$mb-home-x: 1358px;
$mb-home-y: 595px;
$mb-home-offset-x: -1358px;
$mb-home-offset-y: -595px;
$mb-home-width: 50px;
$mb-home-height: 50px;
$mb-home-total-width: 1423px;
$mb-home-total-height: 1155px;
$mb-home-image: '../assets/_sprites-common.png';
$mb-home: (1358px, 595px, -1358px, -595px, 50px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-home', );
$mb-iconapp-name: 'mb-iconapp';
$mb-iconapp-x: 1320px;
$mb-iconapp-y: 655px;
$mb-iconapp-offset-x: -1320px;
$mb-iconapp-offset-y: -655px;
$mb-iconapp-width: 75px;
$mb-iconapp-height: 75px;
$mb-iconapp-total-width: 1423px;
$mb-iconapp-total-height: 1155px;
$mb-iconapp-image: '../assets/_sprites-common.png';
$mb-iconapp: (1320px, 655px, -1320px, -655px, 75px, 75px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-iconapp', );
$mb-nav-1-name: 'mb-nav-1';
$mb-nav-1-x: 1238px;
$mb-nav-1-y: 0px;
$mb-nav-1-offset-x: -1238px;
$mb-nav-1-offset-y: 0px;
$mb-nav-1-width: 185px;
$mb-nav-1-height: 90px;
$mb-nav-1-total-width: 1423px;
$mb-nav-1-total-height: 1155px;
$mb-nav-1-image: '../assets/_sprites-common.png';
$mb-nav-1: (1238px, 0px, -1238px, 0px, 185px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-nav-1', );
$mb-nav-2-name: 'mb-nav-2';
$mb-nav-2-x: 1238px;
$mb-nav-2-y: 90px;
$mb-nav-2-offset-x: -1238px;
$mb-nav-2-offset-y: -90px;
$mb-nav-2-width: 150px;
$mb-nav-2-height: 90px;
$mb-nav-2-total-width: 1423px;
$mb-nav-2-total-height: 1155px;
$mb-nav-2-image: '../assets/_sprites-common.png';
$mb-nav-2: (1238px, 90px, -1238px, -90px, 150px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-nav-2', );
$mb-nav-3-name: 'mb-nav-3';
$mb-nav-3-x: 836px;
$mb-nav-3-y: 605px;
$mb-nav-3-offset-x: -836px;
$mb-nav-3-offset-y: -605px;
$mb-nav-3-width: 220px;
$mb-nav-3-height: 90px;
$mb-nav-3-total-width: 1423px;
$mb-nav-3-total-height: 1155px;
$mb-nav-3-image: '../assets/_sprites-common.png';
$mb-nav-3: (836px, 605px, -836px, -605px, 220px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-nav-3', );
$mb-nav-4-hov-name: 'mb-nav-4-hov';
$mb-nav-4-hov-x: 0px;
$mb-nav-4-hov-y: 995px;
$mb-nav-4-hov-offset-x: 0px;
$mb-nav-4-hov-offset-y: -995px;
$mb-nav-4-hov-width: 213px;
$mb-nav-4-hov-height: 90px;
$mb-nav-4-hov-total-width: 1423px;
$mb-nav-4-hov-total-height: 1155px;
$mb-nav-4-hov-image: '../assets/_sprites-common.png';
$mb-nav-4-hov: (0px, 995px, 0px, -995px, 213px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-nav-4-hov', );
$mb-nav-4-name: 'mb-nav-4';
$mb-nav-4-x: 213px;
$mb-nav-4-y: 995px;
$mb-nav-4-offset-x: -213px;
$mb-nav-4-offset-y: -995px;
$mb-nav-4-width: 213px;
$mb-nav-4-height: 90px;
$mb-nav-4-total-width: 1423px;
$mb-nav-4-total-height: 1155px;
$mb-nav-4-image: '../assets/_sprites-common.png';
$mb-nav-4: (213px, 995px, -213px, -995px, 213px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-nav-4', );
$mb-topup-name: 'mb-topup';
$mb-topup-x: 1238px;
$mb-topup-y: 485px;
$mb-topup-offset-x: -1238px;
$mb-topup-offset-y: -485px;
$mb-topup-width: 160px;
$mb-topup-height: 50px;
$mb-topup-total-width: 1423px;
$mb-topup-total-height: 1155px;
$mb-topup-image: '../assets/_sprites-common.png';
$mb-topup: (1238px, 485px, -1238px, -485px, 160px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'mb-topup', );
$milestone-1-name: 'milestone-1';
$milestone-1-x: 250px;
$milestone-1-y: 0px;
$milestone-1-offset-x: -250px;
$milestone-1-offset-y: 0px;
$milestone-1-width: 264px;
$milestone-1-height: 326px;
$milestone-1-total-width: 1423px;
$milestone-1-total-height: 1155px;
$milestone-1-image: '../assets/_sprites-common.png';
$milestone-1: (250px, 0px, -250px, 0px, 264px, 326px, 1423px, 1155px, '../assets/_sprites-common.png', 'milestone-1', );
$milestone-2-name: 'milestone-2';
$milestone-2-x: 250px;
$milestone-2-y: 326px;
$milestone-2-offset-x: -250px;
$milestone-2-offset-y: -326px;
$milestone-2-width: 264px;
$milestone-2-height: 326px;
$milestone-2-total-width: 1423px;
$milestone-2-total-height: 1155px;
$milestone-2-image: '../assets/_sprites-common.png';
$milestone-2: (250px, 326px, -250px, -326px, 264px, 326px, 1423px, 1155px, '../assets/_sprites-common.png', 'milestone-2', );
$milestone-3-name: 'milestone-3';
$milestone-3-x: 250px;
$milestone-3-y: 652px;
$milestone-3-offset-x: -250px;
$milestone-3-offset-y: -652px;
$milestone-3-width: 264px;
$milestone-3-height: 326px;
$milestone-3-total-width: 1423px;
$milestone-3-total-height: 1155px;
$milestone-3-image: '../assets/_sprites-common.png';
$milestone-3: (250px, 652px, -250px, -652px, 264px, 326px, 1423px, 1155px, '../assets/_sprites-common.png', 'milestone-3', );
$nav-1-hov-name: 'nav-1-hov';
$nav-1-hov-x: 800px;
$nav-1-hov-y: 710px;
$nav-1-hov-offset-x: -800px;
$nav-1-hov-offset-y: -710px;
$nav-1-hov-width: 290px;
$nav-1-hov-height: 70px;
$nav-1-hov-total-width: 1423px;
$nav-1-hov-total-height: 1155px;
$nav-1-hov-image: '../assets/_sprites-common.png';
$nav-1-hov: (800px, 710px, -800px, -710px, 290px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-1-hov', );
$nav-1-name: 'nav-1';
$nav-1-x: 514px;
$nav-1-y: 818px;
$nav-1-offset-x: -514px;
$nav-1-offset-y: -818px;
$nav-1-width: 290px;
$nav-1-height: 70px;
$nav-1-total-width: 1423px;
$nav-1-total-height: 1155px;
$nav-1-image: '../assets/_sprites-common.png';
$nav-1: (514px, 818px, -514px, -818px, 290px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-1', );
$nav-2-hov-name: 'nav-2-hov';
$nav-2-hov-x: 804px;
$nav-2-hov-y: 888px;
$nav-2-hov-offset-x: -804px;
$nav-2-hov-offset-y: -888px;
$nav-2-hov-width: 250px;
$nav-2-hov-height: 70px;
$nav-2-hov-total-width: 1423px;
$nav-2-hov-total-height: 1155px;
$nav-2-hov-image: '../assets/_sprites-common.png';
$nav-2-hov: (804px, 888px, -804px, -888px, 250px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-2-hov', );
$nav-2-name: 'nav-2';
$nav-2-x: 0px;
$nav-2-y: 1085px;
$nav-2-offset-x: 0px;
$nav-2-offset-y: -1085px;
$nav-2-width: 250px;
$nav-2-height: 70px;
$nav-2-total-width: 1423px;
$nav-2-total-height: 1155px;
$nav-2-image: '../assets/_sprites-common.png';
$nav-2: (0px, 1085px, 0px, -1085px, 250px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-2', );
$nav-3-hov-name: 'nav-3-hov';
$nav-3-hov-x: 804px;
$nav-3-hov-y: 818px;
$nav-3-hov-offset-x: -804px;
$nav-3-hov-offset-y: -818px;
$nav-3-hov-width: 290px;
$nav-3-hov-height: 70px;
$nav-3-hov-total-width: 1423px;
$nav-3-hov-total-height: 1155px;
$nav-3-hov-image: '../assets/_sprites-common.png';
$nav-3-hov: (804px, 818px, -804px, -818px, 290px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-3-hov', );
$nav-3-name: 'nav-3';
$nav-3-x: 514px;
$nav-3-y: 888px;
$nav-3-offset-x: -514px;
$nav-3-offset-y: -888px;
$nav-3-width: 290px;
$nav-3-height: 70px;
$nav-3-total-width: 1423px;
$nav-3-total-height: 1155px;
$nav-3-image: '../assets/_sprites-common.png';
$nav-3: (514px, 888px, -514px, -888px, 290px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'nav-3', );
$popup-close-name: 'popup-close';
$popup-close-x: 1238px;
$popup-close-y: 995px;
$popup-close-offset-x: -1238px;
$popup-close-offset-y: -995px;
$popup-close-width: 50px;
$popup-close-height: 50px;
$popup-close-total-width: 1423px;
$popup-close-total-height: 1155px;
$popup-close-image: '../assets/_sprites-common.png';
$popup-close: (1238px, 995px, -1238px, -995px, 50px, 50px, 1423px, 1155px, '../assets/_sprites-common.png', 'popup-close', );
$r-code-name: 'r-code';
$r-code-x: 1238px;
$r-code-y: 180px;
$r-code-offset-x: -1238px;
$r-code-offset-y: -180px;
$r-code-width: 180px;
$r-code-height: 51px;
$r-code-total-width: 1423px;
$r-code-total-height: 1155px;
$r-code-image: '../assets/_sprites-common.png';
$r-code: (1238px, 180px, -1238px, -180px, 180px, 51px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-code', );
$r-downandroid-name: 'r-downandroid';
$r-downandroid-x: 1238px;
$r-downandroid-y: 231px;
$r-downandroid-offset-x: -1238px;
$r-downandroid-offset-y: -231px;
$r-downandroid-width: 180px;
$r-downandroid-height: 51px;
$r-downandroid-total-width: 1423px;
$r-downandroid-total-height: 1155px;
$r-downandroid-image: '../assets/_sprites-common.png';
$r-downandroid: (1238px, 231px, -1238px, -231px, 180px, 51px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-downandroid', );
$r-downapk-name: 'r-downapk';
$r-downapk-x: 1238px;
$r-downapk-y: 282px;
$r-downapk-offset-x: -1238px;
$r-downapk-offset-y: -282px;
$r-downapk-width: 180px;
$r-downapk-height: 51px;
$r-downapk-total-width: 1423px;
$r-downapk-total-height: 1155px;
$r-downapk-image: '../assets/_sprites-common.png';
$r-downapk: (1238px, 282px, -1238px, -282px, 180px, 51px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-downapk', );
$r-downappstore-name: 'r-downappstore';
$r-downappstore-x: 1238px;
$r-downappstore-y: 333px;
$r-downappstore-offset-x: -1238px;
$r-downappstore-offset-y: -333px;
$r-downappstore-width: 180px;
$r-downappstore-height: 51px;
$r-downappstore-total-width: 1423px;
$r-downappstore-total-height: 1155px;
$r-downappstore-image: '../assets/_sprites-common.png';
$r-downappstore: (1238px, 333px, -1238px, -333px, 180px, 51px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-downappstore', );
$r-downpc-name: 'r-downpc';
$r-downpc-x: 1238px;
$r-downpc-y: 384px;
$r-downpc-offset-x: -1238px;
$r-downpc-offset-y: -384px;
$r-downpc-width: 180px;
$r-downpc-height: 51px;
$r-downpc-total-width: 1423px;
$r-downpc-total-height: 1155px;
$r-downpc-image: '../assets/_sprites-common.png';
$r-downpc: (1238px, 384px, -1238px, -384px, 180px, 51px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-downpc', );
$r-fanpage-name: 'r-fanpage';
$r-fanpage-x: 1288px;
$r-fanpage-y: 995px;
$r-fanpage-offset-x: -1288px;
$r-fanpage-offset-y: -995px;
$r-fanpage-width: 48px;
$r-fanpage-height: 48px;
$r-fanpage-total-width: 1423px;
$r-fanpage-total-height: 1155px;
$r-fanpage-image: '../assets/_sprites-common.png';
$r-fanpage: (1288px, 995px, -1288px, -995px, 48px, 48px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-fanpage', );
$r-group-name: 'r-group';
$r-group-x: 1336px;
$r-group-y: 995px;
$r-group-offset-x: -1336px;
$r-group-offset-y: -995px;
$r-group-width: 48px;
$r-group-height: 48px;
$r-group-total-width: 1423px;
$r-group-total-height: 1155px;
$r-group-image: '../assets/_sprites-common.png';
$r-group: (1336px, 995px, -1336px, -995px, 48px, 48px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-group', );
$r-qrcode-name: 'r-qrcode';
$r-qrcode-x: 914px;
$r-qrcode-y: 90px;
$r-qrcode-offset-x: -914px;
$r-qrcode-offset-y: -90px;
$r-qrcode-width: 176px;
$r-qrcode-height: 176px;
$r-qrcode-total-width: 1423px;
$r-qrcode-total-height: 1155px;
$r-qrcode-image: '../assets/_sprites-common.png';
$r-qrcode: (914px, 90px, -914px, -90px, 176px, 176px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-qrcode', );
$r-toggle-name: 'r-toggle';
$r-toggle-x: 1373px;
$r-toggle-y: 781px;
$r-toggle-offset-x: -1373px;
$r-toggle-offset-y: -781px;
$r-toggle-width: 44px;
$r-toggle-height: 45px;
$r-toggle-total-width: 1423px;
$r-toggle-total-height: 1155px;
$r-toggle-image: '../assets/_sprites-common.png';
$r-toggle: (1373px, 781px, -1373px, -781px, 44px, 45px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-toggle', );
$r-top-name: 'r-top';
$r-top-x: 1388px;
$r-top-y: 160px;
$r-top-offset-x: -1388px;
$r-top-offset-y: -160px;
$r-top-width: 28px;
$r-top-height: 12px;
$r-top-total-width: 1423px;
$r-top-total-height: 1155px;
$r-top-image: '../assets/_sprites-common.png';
$r-top: (1388px, 160px, -1388px, -160px, 28px, 12px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-top', );
$r-topup-name: 'r-topup';
$r-topup-x: 914px;
$r-topup-y: 305px;
$r-topup-offset-x: -914px;
$r-topup-offset-y: -305px;
$r-topup-width: 180px;
$r-topup-height: 123px;
$r-topup-total-width: 1423px;
$r-topup-total-height: 1155px;
$r-topup-image: '../assets/_sprites-common.png';
$r-topup: (914px, 305px, -914px, -305px, 180px, 123px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-topup', );
$r-youtube-name: 'r-youtube';
$r-youtube-x: 1238px;
$r-youtube-y: 1045px;
$r-youtube-offset-x: -1238px;
$r-youtube-offset-y: -1045px;
$r-youtube-width: 48px;
$r-youtube-height: 48px;
$r-youtube-total-width: 1423px;
$r-youtube-total-height: 1155px;
$r-youtube-image: '../assets/_sprites-common.png';
$r-youtube: (1238px, 1045px, -1238px, -1045px, 48px, 48px, 1423px, 1155px, '../assets/_sprites-common.png', 'r-youtube', );
$rightbar-bg-name: 'rightbar-bg';
$rightbar-bg-x: 0px;
$rightbar-bg-y: 0px;
$rightbar-bg-offset-x: 0px;
$rightbar-bg-offset-y: 0px;
$rightbar-bg-width: 250px;
$rightbar-bg-height: 995px;
$rightbar-bg-total-width: 1423px;
$rightbar-bg-total-height: 1155px;
$rightbar-bg-image: '../assets/_sprites-common.png';
$rightbar-bg: (0px, 0px, 0px, 0px, 250px, 995px, 1423px, 1155px, '../assets/_sprites-common.png', 'rightbar-bg', );
$stats-signin-name: 'stats-signin';
$stats-signin-x: 250px;
$stats-signin-y: 1085px;
$stats-signin-offset-x: -250px;
$stats-signin-offset-y: -1085px;
$stats-signin-width: 300px;
$stats-signin-height: 40px;
$stats-signin-total-width: 1423px;
$stats-signin-total-height: 1155px;
$stats-signin-image: '../assets/_sprites-common.png';
$stats-signin: (250px, 1085px, -250px, -1085px, 300px, 40px, 1423px, 1155px, '../assets/_sprites-common.png', 'stats-signin', );
$tooltip-name: 'tooltip';
$tooltip-x: 1373px;
$tooltip-y: 734px;
$tooltip-offset-x: -1373px;
$tooltip-offset-y: -734px;
$tooltip-width: 46px;
$tooltip-height: 46px;
$tooltip-total-width: 1423px;
$tooltip-total-height: 1155px;
$tooltip-image: '../assets/_sprites-common.png';
$tooltip: (1373px, 734px, -1373px, -734px, 46px, 46px, 1423px, 1155px, '../assets/_sprites-common.png', 'tooltip', );
$top-split-name: 'top-split';
$top-split-x: 1388px;
$top-split-y: 90px;
$top-split-offset-x: -1388px;
$top-split-offset-y: -90px;
$top-split-width: 14px;
$top-split-height: 70px;
$top-split-total-width: 1423px;
$top-split-total-height: 1155px;
$top-split-image: '../assets/_sprites-common.png';
$top-split: (1388px, 90px, -1388px, -90px, 14px, 70px, 1423px, 1155px, '../assets/_sprites-common.png', 'top-split', );
$top-name: 'top';
$top-x: 1238px;
$top-y: 655px;
$top-offset-x: -1238px;
$top-offset-y: -655px;
$top-width: 82px;
$top-height: 79px;
$top-total-width: 1423px;
$top-total-height: 1155px;
$top-image: '../assets/_sprites-common.png';
$top: (1238px, 655px, -1238px, -655px, 82px, 79px, 1423px, 1155px, '../assets/_sprites-common.png', 'top', );
$wrap-combo-name: 'wrap-combo';
$wrap-combo-x: 714px;
$wrap-combo-y: 305px;
$wrap-combo-offset-x: -714px;
$wrap-combo-offset-y: -305px;
$wrap-combo-width: 200px;
$wrap-combo-height: 190px;
$wrap-combo-total-width: 1423px;
$wrap-combo-total-height: 1155px;
$wrap-combo-image: '../assets/_sprites-common.png';
$wrap-combo: (714px, 305px, -714px, -305px, 200px, 190px, 1423px, 1155px, '../assets/_sprites-common.png', 'wrap-combo', );
$wrap-login-name: 'wrap-login';
$wrap-login-x: 514px;
$wrap-login-y: 90px;
$wrap-login-offset-x: -514px;
$wrap-login-offset-y: -90px;
$wrap-login-width: 200px;
$wrap-login-height: 215px;
$wrap-login-total-width: 1423px;
$wrap-login-total-height: 1155px;
$wrap-login-image: '../assets/_sprites-common.png';
$wrap-login: (514px, 90px, -514px, -90px, 200px, 215px, 1423px, 1155px, '../assets/_sprites-common.png', 'wrap-login', );
$wrap-multi-name: 'wrap-multi';
$wrap-multi-x: 514px;
$wrap-multi-y: 0px;
$wrap-multi-offset-x: -514px;
$wrap-multi-offset-y: 0px;
$wrap-multi-width: 580px;
$wrap-multi-height: 90px;
$wrap-multi-total-width: 1423px;
$wrap-multi-total-height: 1155px;
$wrap-multi-image: '../assets/_sprites-common.png';
$wrap-multi: (514px, 0px, -514px, 0px, 580px, 90px, 1423px, 1155px, '../assets/_sprites-common.png', 'wrap-multi', );
$wrap-single-name: 'wrap-single';
$wrap-single-x: 714px;
$wrap-single-y: 90px;
$wrap-single-offset-x: -714px;
$wrap-single-offset-y: -90px;
$wrap-single-width: 200px;
$wrap-single-height: 195px;
$wrap-single-total-width: 1423px;
$wrap-single-total-height: 1155px;
$wrap-single-image: '../assets/_sprites-common.png';
$wrap-single: (714px, 90px, -714px, -90px, 200px, 195px, 1423px, 1155px, '../assets/_sprites-common.png', 'wrap-single', );
$wrap-single2-name: 'wrap-single2';
$wrap-single2-x: 514px;
$wrap-single2-y: 305px;
$wrap-single2-offset-x: -514px;
$wrap-single2-offset-y: -305px;
$wrap-single2-width: 200px;
$wrap-single2-height: 195px;
$wrap-single2-total-width: 1423px;
$wrap-single2-total-height: 1155px;
$wrap-single2-image: '../assets/_sprites-common.png';
$wrap-single2: (514px, 305px, -514px, -305px, 200px, 195px, 1423px, 1155px, '../assets/_sprites-common.png', 'wrap-single2', );
$spritesheet-width: 1423px;
$spritesheet-height: 1155px;
$spritesheet-image: '../assets/_sprites-common.png';
$spritesheet-sprites: ($cta-join-hov, $cta-join, $cta-module, $cta-receive-off, $cta-receive, $cta-receivemin-off, $cta-receivemin, $footer-fanpage, $footer-logo, $footer-social, $footer-youtube, $item-date-end, $item-date, $logo, $mb-burger, $mb-cta-danhan, $mb-cta-module, $mb-cta-nap, $mb-cta-nhan, $mb-download, $mb-fanpage, $mb-home, $mb-iconapp, $mb-nav-1, $mb-nav-2, $mb-nav-3, $mb-nav-4-hov, $mb-nav-4, $mb-topup, $milestone-1, $milestone-2, $milestone-3, $nav-1-hov, $nav-1, $nav-2-hov, $nav-2, $nav-3-hov, $nav-3, $popup-close, $r-code, $r-downandroid, $r-downapk, $r-downappstore, $r-downpc, $r-fanpage, $r-group, $r-qrcode, $r-toggle, $r-top, $r-topup, $r-youtube, $rightbar-bg, $stats-signin, $tooltip, $top-split, $top, $wrap-combo, $wrap-login, $wrap-multi, $wrap-single, $wrap-single2, );
$spritesheet: (1423px, 1155px, '../assets/_sprites-common.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
