@-ms-viewport {
  width: device-width; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*, ::after, ::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

body {
  line-height: 1;
  font-family: sans-serif;
  text-align: left; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::after, blockquote::before, q::after, q::before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  caption-side: bottom; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

code, kbd, pre, samp {
  font-family: monospace,monospace; }

pre {
  overflow: auto;
  -ms-overflow-style: scrollbar; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: 0;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none; }

address {
  font-style: normal;
  line-height: inherit; }

b, strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

em {
  font-style: italic; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[role=button] {
  cursor: pointer; }

select {
  word-wrap: normal; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

fieldset {
  min-width: 0; }

legend {
  max-width: 100%;
  white-space: normal;
  color: inherit;
  display: block; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto;
  resize: vertical; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

output {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: local("RobotoCondensed");
  src: url(assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
  font-weight: normal; }

@font-face {
  font-family: Arsenal;
  font-display: swap;
  src: local("Arsenal");
  src: url(assets/fonts/Arsenal/Arsenal-Bold.ttf);
  font-weight: 500; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
  width: initial; }
  .row::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 700px) {
    .row > .col-xs-1 {
      width: calc(8.33333% - 10.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-2 {
      width: calc(16.66667% - 11.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-3 {
      width: calc(25% - 12.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-4 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-5 {
      width: calc(41.66667% - 14.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-6 {
      width: calc(50% - 15px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-7 {
      width: calc(58.33333% - 15.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-8 {
      width: calc(66.66667% - 16.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-9 {
      width: calc(75% - 17.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-10 {
      width: calc(83.33333% - 18.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-11 {
      width: calc(91.66667% - 19.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xs-12 {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }
  @media (min-width: 701px) and (max-width: 840px) {
    .row > .col-sm-1 {
      width: calc(8.33333% - 10.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-2 {
      width: calc(16.66667% - 11.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-3 {
      width: calc(25% - 12.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-4 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-5 {
      width: calc(41.66667% - 14.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-6 {
      width: calc(50% - 15px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-7 {
      width: calc(58.33333% - 15.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-8 {
      width: calc(66.66667% - 16.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-9 {
      width: calc(75% - 17.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-10 {
      width: calc(83.33333% - 18.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-11 {
      width: calc(91.66667% - 19.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-sm-12 {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }
  @media (min-width: 841px) and (max-width: 1260px) {
    .row > .col-md-1 {
      width: calc(8.33333% - 10.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-2 {
      width: calc(16.66667% - 11.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-3 {
      width: calc(25% - 12.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-4 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-5 {
      width: calc(41.66667% - 14.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-6 {
      width: calc(50% - 15px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-7 {
      width: calc(58.33333% - 15.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-8 {
      width: calc(66.66667% - 16.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-9 {
      width: calc(75% - 17.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-10 {
      width: calc(83.33333% - 18.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-11 {
      width: calc(91.66667% - 19.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-md-12 {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }
  @media (min-width: 1261px) and (max-width: 1600px) {
    .row > .col-lg-1 {
      width: calc(8.33333% - 10.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-2 {
      width: calc(16.66667% - 11.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-3 {
      width: calc(25% - 12.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-4 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-5 {
      width: calc(41.66667% - 14.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-6 {
      width: calc(50% - 15px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-7 {
      width: calc(58.33333% - 15.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-8 {
      width: calc(66.66667% - 16.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-9 {
      width: calc(75% - 17.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-10 {
      width: calc(83.33333% - 18.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-11 {
      width: calc(91.66667% - 19.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-lg-12 {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }
  @media (min-width: 1601px) {
    .row > .col-xl-1 {
      width: calc(8.33333% - 10.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-2 {
      width: calc(16.66667% - 11.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-3 {
      width: calc(25% - 12.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-4 {
      width: calc(33.33333% - 13.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-5 {
      width: calc(41.66667% - 14.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-6 {
      width: calc(50% - 15px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-7 {
      width: calc(58.33333% - 15.83333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-8 {
      width: calc(66.66667% - 16.66667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-9 {
      width: calc(75% - 17.5px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-10 {
      width: calc(83.33333% - 18.33333px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-11 {
      width: calc(91.66667% - 19.16667px);
      float: left;
      margin-left: 10px; }
    .row > .col-xl-12 {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }
  @media (max-width: 700px) {
    .row > .col-xs-push-1 {
      margin-left: calc(8.33333% - 10.83333px + 20px); }
    .row > .col-xs-push-2 {
      margin-left: calc(16.66667% - 11.66667px + 20px); }
    .row > .col-xs-push-3 {
      margin-left: calc(25% - 12.5px + 20px); }
    .row > .col-xs-push-4 {
      margin-left: calc(33.33333% - 13.33333px + 20px); }
    .row > .col-xs-push-5 {
      margin-left: calc(41.66667% - 14.16667px + 20px); }
    .row > .col-xs-push-6 {
      margin-left: calc(50% - 15px + 20px); }
    .row > .col-xs-push-7 {
      margin-left: calc(58.33333% - 15.83333px + 20px); }
    .row > .col-xs-push-8 {
      margin-left: calc(66.66667% - 16.66667px + 20px); }
    .row > .col-xs-push-9 {
      margin-left: calc(75% - 17.5px + 20px); }
    .row > .col-xs-push-10 {
      margin-left: calc(83.33333% - 18.33333px + 20px); }
    .row > .col-xs-push-11 {
      margin-left: calc(91.66667% - 19.16667px + 20px); }
    .row > .col-xs-push-12 {
      margin-left: calc(100% - 20px + 20px); } }
  @media (min-width: 701px) and (max-width: 840px) {
    .row > .col-sm-push-1 {
      margin-left: calc(8.33333% - 10.83333px + 20px); }
    .row > .col-sm-push-2 {
      margin-left: calc(16.66667% - 11.66667px + 20px); }
    .row > .col-sm-push-3 {
      margin-left: calc(25% - 12.5px + 20px); }
    .row > .col-sm-push-4 {
      margin-left: calc(33.33333% - 13.33333px + 20px); }
    .row > .col-sm-push-5 {
      margin-left: calc(41.66667% - 14.16667px + 20px); }
    .row > .col-sm-push-6 {
      margin-left: calc(50% - 15px + 20px); }
    .row > .col-sm-push-7 {
      margin-left: calc(58.33333% - 15.83333px + 20px); }
    .row > .col-sm-push-8 {
      margin-left: calc(66.66667% - 16.66667px + 20px); }
    .row > .col-sm-push-9 {
      margin-left: calc(75% - 17.5px + 20px); }
    .row > .col-sm-push-10 {
      margin-left: calc(83.33333% - 18.33333px + 20px); }
    .row > .col-sm-push-11 {
      margin-left: calc(91.66667% - 19.16667px + 20px); }
    .row > .col-sm-push-12 {
      margin-left: calc(100% - 20px + 20px); } }
  @media (min-width: 841px) and (max-width: 1260px) {
    .row > .col-md-push-1 {
      margin-left: calc(8.33333% - 10.83333px + 20px); }
    .row > .col-md-push-2 {
      margin-left: calc(16.66667% - 11.66667px + 20px); }
    .row > .col-md-push-3 {
      margin-left: calc(25% - 12.5px + 20px); }
    .row > .col-md-push-4 {
      margin-left: calc(33.33333% - 13.33333px + 20px); }
    .row > .col-md-push-5 {
      margin-left: calc(41.66667% - 14.16667px + 20px); }
    .row > .col-md-push-6 {
      margin-left: calc(50% - 15px + 20px); }
    .row > .col-md-push-7 {
      margin-left: calc(58.33333% - 15.83333px + 20px); }
    .row > .col-md-push-8 {
      margin-left: calc(66.66667% - 16.66667px + 20px); }
    .row > .col-md-push-9 {
      margin-left: calc(75% - 17.5px + 20px); }
    .row > .col-md-push-10 {
      margin-left: calc(83.33333% - 18.33333px + 20px); }
    .row > .col-md-push-11 {
      margin-left: calc(91.66667% - 19.16667px + 20px); }
    .row > .col-md-push-12 {
      margin-left: calc(100% - 20px + 20px); } }
  @media (min-width: 1261px) and (max-width: 1600px) {
    .row .col-lg-push-1 {
      margin-left: calc(8.33333% - 10.83333px + 20px); }
    .row .col-lg-push-2 {
      margin-left: calc(16.66667% - 11.66667px + 20px); }
    .row .col-lg-push-3 {
      margin-left: calc(25% - 12.5px + 20px); }
    .row .col-lg-push-4 {
      margin-left: calc(33.33333% - 13.33333px + 20px); }
    .row .col-lg-push-5 {
      margin-left: calc(41.66667% - 14.16667px + 20px); }
    .row .col-lg-push-6 {
      margin-left: calc(50% - 15px + 20px); }
    .row .col-lg-push-7 {
      margin-left: calc(58.33333% - 15.83333px + 20px); }
    .row .col-lg-push-8 {
      margin-left: calc(66.66667% - 16.66667px + 20px); }
    .row .col-lg-push-9 {
      margin-left: calc(75% - 17.5px + 20px); }
    .row .col-lg-push-10 {
      margin-left: calc(83.33333% - 18.33333px + 20px); }
    .row .col-lg-push-11 {
      margin-left: calc(91.66667% - 19.16667px + 20px); }
    .row .col-lg-push-12 {
      margin-left: calc(100% - 20px + 20px); } }
  @media (min-width: 1601px) {
    .row .col-xl-push-1 {
      margin-left: calc(8.33333% - 10.83333px + 20px); }
    .row .col-xl-push-2 {
      margin-left: calc(16.66667% - 11.66667px + 20px); }
    .row .col-xl-push-3 {
      margin-left: calc(25% - 12.5px + 20px); }
    .row .col-xl-push-4 {
      margin-left: calc(33.33333% - 13.33333px + 20px); }
    .row .col-xl-push-5 {
      margin-left: calc(41.66667% - 14.16667px + 20px); }
    .row .col-xl-push-6 {
      margin-left: calc(50% - 15px + 20px); }
    .row .col-xl-push-7 {
      margin-left: calc(58.33333% - 15.83333px + 20px); }
    .row .col-xl-push-8 {
      margin-left: calc(66.66667% - 16.66667px + 20px); }
    .row .col-xl-push-9 {
      margin-left: calc(75% - 17.5px + 20px); }
    .row .col-xl-push-10 {
      margin-left: calc(83.33333% - 18.33333px + 20px); }
    .row .col-xl-push-11 {
      margin-left: calc(91.66667% - 19.16667px + 20px); }
    .row .col-xl-push-12 {
      margin-left: calc(100% - 20px + 20px); } }

.row-50 {
  margin-left: -50px;
  margin-right: -50px;
  width: calc(100% + 100px);
  width: initial; }
  .row-50::after {
    clear: both;
    content: "";
    display: block; }
  @media (max-width: 700px) {
    .row-50 > .col-xs-1 {
      width: calc(8.33333% - 54.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-2 {
      width: calc(16.66667% - 58.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-3 {
      width: calc(25% - 62.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-4 {
      width: calc(33.33333% - 66.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-5 {
      width: calc(41.66667% - 70.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-6 {
      width: calc(50% - 75px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-7 {
      width: calc(58.33333% - 79.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-8 {
      width: calc(66.66667% - 83.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-9 {
      width: calc(75% - 87.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-10 {
      width: calc(83.33333% - 91.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-11 {
      width: calc(91.66667% - 95.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xs-12 {
      width: calc(100% - 100px);
      float: left;
      margin-left: 50px; } }
  @media (min-width: 701px) and (max-width: 840px) {
    .row-50 > .col-sm-1 {
      width: calc(8.33333% - 54.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-2 {
      width: calc(16.66667% - 58.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-3 {
      width: calc(25% - 62.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-4 {
      width: calc(33.33333% - 66.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-5 {
      width: calc(41.66667% - 70.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-6 {
      width: calc(50% - 75px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-7 {
      width: calc(58.33333% - 79.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-8 {
      width: calc(66.66667% - 83.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-9 {
      width: calc(75% - 87.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-10 {
      width: calc(83.33333% - 91.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-11 {
      width: calc(91.66667% - 95.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-sm-12 {
      width: calc(100% - 100px);
      float: left;
      margin-left: 50px; } }
  @media (min-width: 841px) and (max-width: 1260px) {
    .row-50 > .col-md-1 {
      width: calc(8.33333% - 54.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-2 {
      width: calc(16.66667% - 58.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-3 {
      width: calc(25% - 62.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-4 {
      width: calc(33.33333% - 66.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-5 {
      width: calc(41.66667% - 70.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-6 {
      width: calc(50% - 75px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-7 {
      width: calc(58.33333% - 79.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-8 {
      width: calc(66.66667% - 83.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-9 {
      width: calc(75% - 87.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-10 {
      width: calc(83.33333% - 91.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-11 {
      width: calc(91.66667% - 95.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-md-12 {
      width: calc(100% - 100px);
      float: left;
      margin-left: 50px; } }
  @media (min-width: 1261px) and (max-width: 1600px) {
    .row-50 > .col-lg-1 {
      width: calc(8.33333% - 54.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-2 {
      width: calc(16.66667% - 58.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-3 {
      width: calc(25% - 62.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-4 {
      width: calc(33.33333% - 66.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-5 {
      width: calc(41.66667% - 70.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-6 {
      width: calc(50% - 75px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-7 {
      width: calc(58.33333% - 79.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-8 {
      width: calc(66.66667% - 83.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-9 {
      width: calc(75% - 87.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-10 {
      width: calc(83.33333% - 91.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-11 {
      width: calc(91.66667% - 95.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-lg-12 {
      width: calc(100% - 100px);
      float: left;
      margin-left: 50px; } }
  @media (min-width: 1601px) {
    .row-50 > .col-xl-1 {
      width: calc(8.33333% - 54.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-2 {
      width: calc(16.66667% - 58.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-3 {
      width: calc(25% - 62.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-4 {
      width: calc(33.33333% - 66.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-5 {
      width: calc(41.66667% - 70.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-6 {
      width: calc(50% - 75px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-7 {
      width: calc(58.33333% - 79.16667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-8 {
      width: calc(66.66667% - 83.33333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-9 {
      width: calc(75% - 87.5px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-10 {
      width: calc(83.33333% - 91.66667px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-11 {
      width: calc(91.66667% - 95.83333px);
      float: left;
      margin-left: 50px; }
    .row-50 > .col-xl-12 {
      width: calc(100% - 100px);
      float: left;
      margin-left: 50px; } }
  @media (max-width: 700px) {
    .row-50 > .col-xs-push-1 {
      margin-left: calc(8.33333% - 54.16667px + 100px); }
    .row-50 > .col-xs-push-2 {
      margin-left: calc(16.66667% - 58.33333px + 100px); }
    .row-50 > .col-xs-push-3 {
      margin-left: calc(25% - 62.5px + 100px); }
    .row-50 > .col-xs-push-4 {
      margin-left: calc(33.33333% - 66.66667px + 100px); }
    .row-50 > .col-xs-push-5 {
      margin-left: calc(41.66667% - 70.83333px + 100px); }
    .row-50 > .col-xs-push-6 {
      margin-left: calc(50% - 75px + 100px); }
    .row-50 > .col-xs-push-7 {
      margin-left: calc(58.33333% - 79.16667px + 100px); }
    .row-50 > .col-xs-push-8 {
      margin-left: calc(66.66667% - 83.33333px + 100px); }
    .row-50 > .col-xs-push-9 {
      margin-left: calc(75% - 87.5px + 100px); }
    .row-50 > .col-xs-push-10 {
      margin-left: calc(83.33333% - 91.66667px + 100px); }
    .row-50 > .col-xs-push-11 {
      margin-left: calc(91.66667% - 95.83333px + 100px); }
    .row-50 > .col-xs-push-12 {
      margin-left: calc(100% - 100px + 100px); } }
  @media (min-width: 701px) and (max-width: 840px) {
    .row-50 > .col-sm-push-1 {
      margin-left: calc(8.33333% - 54.16667px + 100px); }
    .row-50 > .col-sm-push-2 {
      margin-left: calc(16.66667% - 58.33333px + 100px); }
    .row-50 > .col-sm-push-3 {
      margin-left: calc(25% - 62.5px + 100px); }
    .row-50 > .col-sm-push-4 {
      margin-left: calc(33.33333% - 66.66667px + 100px); }
    .row-50 > .col-sm-push-5 {
      margin-left: calc(41.66667% - 70.83333px + 100px); }
    .row-50 > .col-sm-push-6 {
      margin-left: calc(50% - 75px + 100px); }
    .row-50 > .col-sm-push-7 {
      margin-left: calc(58.33333% - 79.16667px + 100px); }
    .row-50 > .col-sm-push-8 {
      margin-left: calc(66.66667% - 83.33333px + 100px); }
    .row-50 > .col-sm-push-9 {
      margin-left: calc(75% - 87.5px + 100px); }
    .row-50 > .col-sm-push-10 {
      margin-left: calc(83.33333% - 91.66667px + 100px); }
    .row-50 > .col-sm-push-11 {
      margin-left: calc(91.66667% - 95.83333px + 100px); }
    .row-50 > .col-sm-push-12 {
      margin-left: calc(100% - 100px + 100px); } }
  @media (min-width: 841px) and (max-width: 1260px) {
    .row-50 > .col-md-push-1 {
      margin-left: calc(8.33333% - 54.16667px + 100px); }
    .row-50 > .col-md-push-2 {
      margin-left: calc(16.66667% - 58.33333px + 100px); }
    .row-50 > .col-md-push-3 {
      margin-left: calc(25% - 62.5px + 100px); }
    .row-50 > .col-md-push-4 {
      margin-left: calc(33.33333% - 66.66667px + 100px); }
    .row-50 > .col-md-push-5 {
      margin-left: calc(41.66667% - 70.83333px + 100px); }
    .row-50 > .col-md-push-6 {
      margin-left: calc(50% - 75px + 100px); }
    .row-50 > .col-md-push-7 {
      margin-left: calc(58.33333% - 79.16667px + 100px); }
    .row-50 > .col-md-push-8 {
      margin-left: calc(66.66667% - 83.33333px + 100px); }
    .row-50 > .col-md-push-9 {
      margin-left: calc(75% - 87.5px + 100px); }
    .row-50 > .col-md-push-10 {
      margin-left: calc(83.33333% - 91.66667px + 100px); }
    .row-50 > .col-md-push-11 {
      margin-left: calc(91.66667% - 95.83333px + 100px); }
    .row-50 > .col-md-push-12 {
      margin-left: calc(100% - 100px + 100px); } }
  @media (min-width: 1261px) and (max-width: 1600px) {
    .row-50 .col-lg-push-1 {
      margin-left: calc(8.33333% - 54.16667px + 100px); }
    .row-50 .col-lg-push-2 {
      margin-left: calc(16.66667% - 58.33333px + 100px); }
    .row-50 .col-lg-push-3 {
      margin-left: calc(25% - 62.5px + 100px); }
    .row-50 .col-lg-push-4 {
      margin-left: calc(33.33333% - 66.66667px + 100px); }
    .row-50 .col-lg-push-5 {
      margin-left: calc(41.66667% - 70.83333px + 100px); }
    .row-50 .col-lg-push-6 {
      margin-left: calc(50% - 75px + 100px); }
    .row-50 .col-lg-push-7 {
      margin-left: calc(58.33333% - 79.16667px + 100px); }
    .row-50 .col-lg-push-8 {
      margin-left: calc(66.66667% - 83.33333px + 100px); }
    .row-50 .col-lg-push-9 {
      margin-left: calc(75% - 87.5px + 100px); }
    .row-50 .col-lg-push-10 {
      margin-left: calc(83.33333% - 91.66667px + 100px); }
    .row-50 .col-lg-push-11 {
      margin-left: calc(91.66667% - 95.83333px + 100px); }
    .row-50 .col-lg-push-12 {
      margin-left: calc(100% - 100px + 100px); } }
  @media (min-width: 1601px) {
    .row-50 .col-xl-push-1 {
      margin-left: calc(8.33333% - 54.16667px + 100px); }
    .row-50 .col-xl-push-2 {
      margin-left: calc(16.66667% - 58.33333px + 100px); }
    .row-50 .col-xl-push-3 {
      margin-left: calc(25% - 62.5px + 100px); }
    .row-50 .col-xl-push-4 {
      margin-left: calc(33.33333% - 66.66667px + 100px); }
    .row-50 .col-xl-push-5 {
      margin-left: calc(41.66667% - 70.83333px + 100px); }
    .row-50 .col-xl-push-6 {
      margin-left: calc(50% - 75px + 100px); }
    .row-50 .col-xl-push-7 {
      margin-left: calc(58.33333% - 79.16667px + 100px); }
    .row-50 .col-xl-push-8 {
      margin-left: calc(66.66667% - 83.33333px + 100px); }
    .row-50 .col-xl-push-9 {
      margin-left: calc(75% - 87.5px + 100px); }
    .row-50 .col-xl-push-10 {
      margin-left: calc(83.33333% - 91.66667px + 100px); }
    .row-50 .col-xl-push-11 {
      margin-left: calc(91.66667% - 95.83333px + 100px); }
    .row-50 .col-xl-push-12 {
      margin-left: calc(100% - 100px + 100px); } }

* {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none; }
  *:focus {
    outline: none; }

.off {
  filter: grayscale(100%);
  pointer-events: none; }

html {
  overflow-x: hidden; }
  html::-webkit-scrollbar {
    width: 6px;
    transition: width .2s;
    border-radius: 12px; }
  html:hover::-webkit-scrollbar {
    width: 6px;
    border-radius: 12px; }
  html::-webkit-scrollbar-track {
    background: rgba(45, 74, 163, 0.3);
    border-radius: 12px; }
  html::-webkit-scrollbar-thumb {
    background: #2d4aa3;
    border-radius: 12px; }
  html::-webkit-scrollbar-thumb:hover {
    background: #2d4aa3; }
  html.popup-opened {
    height: 100vh;
    overflow: hidden; }

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  background: none; }
  body.popup-opened {
    overflow: hidden; }

.outer {
  width: 100%;
  top: 0;
  z-index: 10; }
  .outer--static {
    position: static; }
    @media (max-width: 700px) {
      .outer--static {
        position: absolute;
        z-index: 12; }
        .outer--static.active {
          z-index: 13; } }
    @media (min-width: 701px) and (max-width: 840px) {
      .outer--static {
        position: absolute;
        z-index: 12; }
        .outer--static.active {
          z-index: 13; } }
  .outer--fixed {
    top: 420px;
    position: absolute;
    z-index: 12; }
    @media (max-width: 700px) {
      .outer--fixed {
        height: 0; } }
    @media (min-width: 701px) and (max-width: 840px) {
      .outer--fixed {
        height: 0; } }
  .outer--popup {
    top: 0px;
    position: absolute;
    z-index: 20; }
  .outer--totop {
    top: auto;
    position: fixed;
    bottom: 200px; }
    @media (max-width: 700px) {
      .outer--totop {
        bottom: 240px; } }
    @media (min-width: 701px) and (max-width: 840px) {
      .outer--totop {
        bottom: 240px; } }

.wrapper {
  width: 2000px;
  transform-origin: top left;
  overflow: hidden; }
  .wrapper.popup-opened {
    height: calc(100vh - 70px); }

.container {
  display: block;
  margin: 0 auto;
  width: 1160px;
  max-width: calc(100% - 16px * 2); }

hr.split {
  margin: 0;
  border: 0;
  background: transparent; }
  hr.split--low {
    height: 16px; }
  hr.split--medium {
    height: 24px; }
  hr.split--high {
    height: 32px; }
  hr.split--giant {
    height: 48px; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.tag {
  display: inline-block;
  background: #eaeaea;
  color: #212226;
  border-radius: 4px;
  padding: 4px 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

@media (max-width: 700px) {
  .placeholder {
    display: block;
    height: 50px; } }

@media (min-width: 701px) and (max-width: 840px) {
  .placeholder {
    display: block;
    height: 50px; } }

.time {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #B3B3B3; }

.live {
  width: 34px;
  height: 16px;
  background: #EC5500;
  z-index: 3;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase; }

.section {
  position: relative;
  display: block;
  width: 100%; }
  .section__background {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
    .section__background img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .section__parallax {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  .section__content {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }

.desktop {
  display: block; }

.mobile {
  display: none; }

@media (max-width: 700px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; } }

@media (min-width: 701px) and (max-width: 840px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; } }

.button-img .label {
  display: none; }

.article {
  font-size: 16px;
  color: #dedede;
  padding: 0 20px; }
  @media (max-width: 700px) {
    .article {
      font-size: 12px; } }
  @media (orientation: portrait) {
    .article {
      font-size: 12px; } }
  .article__title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200px; }
  .article__title, .article h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
    color: #d04f30;
    text-align: center;
    font-family: Arsenal; }
  .article__meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 0; }
  .article__cate {
    display: block;
    padding: 12px;
    margin-right: 12px;
    color: #111;
    background: #ddd;
    border-radius: 4px;
    font-size: .8em; }
  .article__time {
    color: #888;
    font-size: .8em; }

.article__content {
  font-size: 1em;
  color: #bbc0c7;
  line-height: 1.4; }
  .article__content *:not(:only-child):not(li) {
    margin-bottom: 12px; }
  .article__content ul {
    margin-left: 20px; }
    .article__content ul li {
      list-style-position: outside;
      margin-bottom: 6px; }
    .article__content ul li, .article__content ul.bulleted li {
      list-style-type: disc; }
    .article__content ul.numbered li {
      list-style-type: decimal; }
  .article__content h2 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4;
    color: #dfcb9a; }
  .article__content h3 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.4;
    color: #fff6dd; }
  .article__content h4 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
    color: #dfcb9a; }
  .article__content h5 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4;
    color: #fff6dd; }
  .article__content h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    color: #dfcb9a; }
  .article__content a {
    color: #dfcb9a;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .4s; }
    .article__content a:hover {
      border-bottom: 1px solid #dfcb9a; }
  .article__content a.hero {
    display: block;
    background: rgba(223, 203, 154, 0.05);
    color: #dfcb9a;
    font-weight: bold;
    padding: 20px;
    border: 0px; }
  .article__content img, .article__content iframe {
    display: block;
    max-width: calc(100%);
    margin: 0 auto 12px; }
  .article__content img + p.caption, .article__content iframe + p.caption {
    display: block;
    max-width: calc(100% - 20px * 2);
    margin: 0 auto 12px;
    font-style: italic;
    font-size: .8em;
    color: #aaa;
    text-align: center; }
  .article__content img.float, .article__content img.float--left {
    float: left;
    margin-right: 20px; }
  .article__content img.float--right {
    float: right;
    margin-right: 0px;
    margin-left: 20px; }
  .article__content .callout {
    padding: 20px 20px;
    background: #2d4aa3;
    color: #dfcb9a; }
  .article__content .table {
    width: 100%; }
    @media (max-width: 700px) {
      .article__content .table {
        overflow: auto; } }
    @media (orientation: portrait) {
      .article__content .table {
        overflow: auto; } }
  .article__content table {
    width: 100%; }
    .article__content table td {
      padding: 8px;
      border: 1px solid #ccc;
      vertical-align: middle; }
      .article__content table td img {
        max-width: 100%;
        margin: 0 auto 0; }
    .article__content table thead {
      background: #2d4aa3;
      color: #dfcb9a;
      font-weight: bold; }
      .article__content table thead tr th {
        padding: 12px;
        text-align: center;
        vertical-align: middle; }
    .article__content table tbody tr td {
      background: rgba(45, 74, 163, 0.5); }
    .article__content table tfoot {
      background: #2d4aa3;
      color: #dfcb9a; }


/*# sourceMappingURL=article.css.map*/