<div id="action" class="action">
    <a href="#" data-value="1" class="action__open action__open--1 pm__rut rut-1"></a>
    <a href="#" data-value="10" class="action__open action__open--10 pm__rut rut-10"></a>
</div> 