<div id="auth" class="auth navigation__item navigation__item--logged" >
    <span class="auth__ava">
        {# <img src="assets/images/bg-1.jpg" alt=""> #}
    </span>
    <div class="auth__profile">
        Xin chào
        <br>
        <span class="username pm__username">Nguyễn Văn Nguyên</span>
    </div>
    <div class="auth__info">
        BẠN CÓ
        <span class="point pm__point">12</span>
        lượt mở quà
    </div>
</div>