<div id="exchange2" class="exchange exchange2">

    <div class="exchange2__wrapper">
        {% for item in [1,3,5,10,14,18,21] %}
            <div class="exchange2__item exchange2__item--{{item}} 
                    {% if item == 1 %}received{% endif %}
                    {% if item == 3 %}active{% endif %}
                    {% if item == 5 %}active{% endif %}
                    {% if item > 5 %}off{% endif %} ">
                <div class="exchange2__date">
                    Nạp đủ {{item}} ngày
                </div>
                <div class="exchange2__thumbnail">
                    <img src="assets/images/task-topup21/{{item}}.png" alt="">
                </div>
                <a href="#" class="exchange2__action exchange_action">cta_receive</a>
            </div>
        {% endfor %}
    </div>
    
    <div class="tooltip">
        <span class="tooltip__toggle">question_mark</span>
        <div class="tooltip__content">
            <p>Yêu cầu nạp mỗi ngày, nạp đủ 1 ngày, 3 ngày, 5 ngày, 10 ngày, 14 ngày, 18 ngày, 21 ngày nhận vật phẩm tương ứng. </p>
        </div>
    </div>
</div>