<ul class="footer_social">
    <li>
        <a target="_blank" href="https://www.facebook.com/fw.zing.vn" class="footer_social__item footer_social__item--fanpage">
            Fanpage
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.facebook.com/groups/fw.zing.vn" class="footer_social__item footer_social__item--social">
            Social
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.youtube.com/channel/UCD80UFI7t3k_J7FWFoLGhQA" class="footer_social__item footer_social__item--youtube">
            Youtube
        </a>
    </li>
</ul>

<p class="footer_copyright">
    &copy; Công ty Cổ phần VNG <br />
    Địa chỉ trụ sở: Z06, Đường 13, phường Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh, Việt Nam <br />
    Giấy phép cung cấp dịch vụ trò chơi điện tử G1 trên mạng số: 251/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 22/6/2015 <br />
    Quyết định phê duyệt nội dung kịch bản trò chơi điện tử G1 trên mạng số: 251/QĐ-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 22/06/2015
</p>

<a href="javascript:;" class="scrollTop scroll_to_top">scroll_to_top</a>