<div id="menu" class="menu">
    <ul>
        <li>
            <a href="#" class="menu__getturn pm__menu-condition">Nhan luot mo qua</a>
        </li>
        <li>
            <a href="#popup_rule" data-lightbox class="menu__rule">The le</a>
        </li>
        <li>
            <a href="#popup_reward2" data-lightbox class="menu__reward">Phan thuong</a>
        </li>
    </ul>
</div>