<ul id="navigation" class="navigation floatingDesktopTopLeft floatingMobileBotLeft">
    <li>
        <a href="#popup_rule" data-lightbox class="navigation__item">Thể Lệ</a>
    </li>
    <li>
        <a href="#popup_reward2" data-lightbox class="navigation__item">Phần thưởng</a>
    </li>
    <li>
        <a href="#" class="navigation__item navigation__item--cta">Lịch sử</a>
    </li>
    <li>
        <a href="" class="navigation__item navigation__item--login" style="display: none;">Đăng Nhập</a>
        {% include "./auth.html.twig" %}
    </li> 
</ul>


<ul id="topnav" class="topnav floatingMobileTopLeft">
    <li>
        <a href="https://fw.zing.vn/" class="topnav__item topnav__item--appicon">
            Appicon
        </a>
        <p class="gameinfo">
            <strong>Forsaken World</strong>
            Thần Ma Đại Lục
        </p>
    </li>
    <li>
        <a target="_blank" href="https://forsakenworld.onelink.me/9RtA/MMDB" class="topnav__item topnav__item--download">
            Download
        </a>
    </li>
    <li>
        <a target="_blank" href="https://fw.zing.vn/" class="topnav__item topnav__item--topup">
            Topup
        </a>
    </li>
    <li>
        <input type="checkbox" class="topnav__item topnav__item--burger" />
        <ul>
            <li>
                <a href="https://fw.zing.vn/">Trang chủ</a>
            </li>
            <li>
                <a href="#popup_rule" data-lightbox >Thể lệ</a>
            </li>
            <li>
                <a href="#popup_reward2" data-lightbox >Phần thưởng</a>
            </li>
            <li>
                <a target="_blank" href="https://code.360game.vn/vi/fw/giftcode/">Nhận thêm code</a>
            </li>
        </ul>
    </li>
</ul>

<div id="rightnav" class="rightnav desktop floatingDesktopTopRight">
    <ul class="active">
        <li>
            <span id="toggleSide" class="rightnav__toggle">toggle</span>
        </li>
        <li>
            <span class="rightnav__qrcode">qrcode</span>
        </li>
        <li>
            <a target="_blank" href="https://pay.zing.vn/game/fw" class="rightnav__topup">topup</a>
        </li>
        <li>
            <a target="_blank" href="https://code.360game.vn/vi/fw/giftcode/" class="rightnav__code">code</a>
        </li>
        <li>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vng.fwvn" class="rightnav__downandroid">downandroid</a>
        </li>
        <li>
            <a target="_blank" href="https://apps.apple.com/vn/app/id1533615861" class="rightnav__downappstore">downappstore</a>
        </li>
        <li>
            <a target="_blank" href="https://tmdl.vcdn.vn/smdlydvn_rsync/client/Android/Apk/ForsakenWorld2506.apk" class="rightnav__downapk">downapk</a>
        </li>
        <li>
            <a target="_blank" href="https://tmdl.vcdn.vn/smdlydvn_rsync/client/PC_INSTALLER/ForsakenWorldPC0625.zip" class="rightnav__downpc">downpc</a>
        </li>
        <li>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/groups/fw.zing.vn" class="rightnav__group">group</a></li>
                <li><a target="_blank" href="https://www.facebook.com/fw.zing.vn" class="rightnav__fanpage">fanpage</a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCD80UFI7t3k_J7FWFoLGhQA" class="rightnav__youtube">youtube</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="scrollTop rightnav__top">TOP</a>
        </li>
    </ul>
</div>