<div id="popup_rule" class="popup popup--content active">
	<div class="popup__background"></div>
	<div class="popup__content ">
		<h2 class="title">
			Thể Lệ
		</h2>
		<div class="popup__wrapper">	
			<div class="popup__iframe">
				<iframe src="../article/article.html" frameborder="0"></iframe>
			</div>		
		</div>
		<span class="popup__close close">X</span>
	</div>
</div>

<div id="popup_reward2" class="popup popup--content ">
	<div class="popup__background"></div>
	<div class="popup__content ">
		<h2 class="title">
			Quà Tặng
		</h2>
		<div class="popup__wrapper">	
			<div class="popup__iframe">
				<iframe src="../article/article.html" frameborder="0"></iframe>
			</div>		
		</div>
		<span class="popup__close close">X</span>
	</div>
</div>

